body {
	padding: 15px;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4 {
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #0969da;
	transition: .5s;
}

a:hover {
	text-decoration: underline;
}

button{
	cursor: pointer;
}

.repo {
	margin-top: 20px;
	font-size: 12px;
}

.copyright {
	margin-top: 10px;
}